<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NetStatus-Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A69FCD61C7EEE19003A86E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A69FCEF1C7EEE19003A86E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A69FCFA1C7EEE19003A86E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
